<a href="https://colab.research.google.com/github/fsantrui/CS50/blob/main/Python_para_Dados_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 - Variáveis e tipos de dados

In [ ]:
# Variáveis - Definição das variáveis
'''
Variáveis são espaços alocados para armazenar valores, que podem ser
principalmente texto (strings - str), números inteiros (integer - int) ou
números com casas decimais (float)
'''
cliente = 'Douglas' # esta linha cria a variável cliente e atribuiu a ela o valor textual 'Douglas'
idade = 48 # esta linha cria a variável idade e atribuiu a ela o valor numérico e inteiro 48
altura = 1.85 # esta linha cria a variável altura e atribuiu a ela o valor numérico com casas decimais 1.85

In [ ]:
# exibindo variáveis criadas anteriomente
print(cliente)
print(idade)
print(altura)

Douglas
48
1.85

In [ ]:
# Verificando o tipo de valor de uma variável
type(idade)

int

In [ ]:
# Convertendo o tipo de um valor de uma variável em outro tipo
idade = str(idade)
print(type(idade))
idade = int(idade)
print(type(idade))
idade = float(idade)
print(type(idade))

<class 'str'>
<class 'int'>
<class 'float'>

# 2 - Operadores matemáticos

In [ ]:
# soma (+)
'''
Criar uma variável que recebe a soma de 3 + 2 e exibir o resultado
dessa soma
'''
soma = 3 + 2
print(soma)

5

In [ ]:
# subtração (-)
'''
Criar uma variável que recebe o cálculo 3 - 2 e exibir o resultado
desse cálculo
'''
sub = 3 - 2
print(sub)

1

In [ ]:
# multiplicação (*)
'''
Criar uma variável que recebe o cálculo 3 x 2 e exibir o resultado
desse cálculo
'''
mult = 3 * 2
print(mult)

6

In [ ]:
# divisão
'''
Criar uma variável que recebe o cálculo 3 x 2 e exibir o resultado
desse cálculo
'''
div = 3 / 2
print(div)

1.5

In [ ]:
# parte inteira da divisão
'''
Criar uma variável que recebe a parte inteira do cálculo 3 / 2 e exibir o
resultado desse cálculo
'''
intdiv = 3 // 2
print(intdiv)

1

In [ ]:
# resto da divisão
'''
Criar uma variável que recebe o resto do cálculo 3 / 2 e exibir o
resultado desse cálculo
'''
restdiv = 3 % 2
print(restdiv)

1

In [ ]:
# exponenciação
'''
Criar uma variável que recebe o cálculo 3 elevado 2 e exibir o resultado
desse cálculo
'''
poten = 3 ** 2
print(poten)

9

# 3 - Recebendo valores do usuário

In [ ]:
'''
Quando desejamos permitir que o usuário informe o valor que ficará armazenado
em uma determinada variável, utilizamos a função input
'''
nome = input('Informe seu nome: ')
peso = float(input('Informe seu peso em kg: '))
altura = float(input('Informe sua altura em metros: '))
imc = peso/altura**2
print(round(imc,2))

Informe seu nome: Douglas
Informe seu peso em kg: 84
Informe sua altura em metros: 1.85
24.54

# 4 - Prints formatados - f-strings

In [ ]:
'''
Agora imagine que você deseja exibir no mesmo print um texto padrão e os
resultados das informações fornecidas pelo usuário e o imc
'''
print(f'O cliente {nome} pesa {peso:.0f} kg, mede {altura} metros e seu imc é {imc:.2f}')

O cliente Douglas pesa 84 kg, mede 1.85 metros e seu imc é 24.54

# 5 - Métodos de strings

In [ ]:
'''
Este bloco traz possível soluções para quando queremos saber qual caracter temos
em uma posição (índice) ou sequência de caracteres em um intervalo
'''
# 0    1   2   3   4   5  6  7  8  9 10 11 12 13 (índice)
# -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 (índice reverso)
# 1º 2º 3º 4º 5º 6º 7º 8º 9º 10º 11º 12º 13º 14º (ordinal)
# d  o  u  g  @  g  m  a  i   l   .   c   o   m
email = 'doug@gmail.com'
# Fatiamento de strings
'''
Vamos exibir o primeiro caracter da string email
'''
print(email[0])
'''
Vamos guardar o primeiro caracter da string email em uma variável chamada primeiro
'''
primeiro = email[0]
print(primeiro)

'''
Agora vamos fatiar todo o prefixo doug da string email e guardar em uma
variável chamada prefixo. em Python dentro dos colchetes a esquerda dos :
temos o índice de início e ele é do tipo inclusive, e a direita dos : temos
o índice do final que é do tipo exclusive.
'''
prefixo = email[0:4]
print(prefixo)
'''
imagine que você deseja percorrer todos os valores da sequencia e exibir um sim
e outro não
'''
print(email[::2])

'''
Resumindo a sintaxe do fatiamento

nome_da_string[início(inclusive):fim(exclusive):passo]
'''

d
d
doug
du@mi.o

'\nResumindo a sintaxe do fatiamento\n\nnome_da_string[início(inclusive):fim(exclusive):passo]\n'

In [ ]:
'''
Imagine que você deseja contar a quantidade de caracteres de uma sequência
'''
email = 'doug@gmail.com'

len(email)

14

In [ ]:
# Operador IN
'''
Testa de um caracter ou sequência de caracteres está ou não presente em uma string
e retorna como resultado verdadeiro (True) ou Falso (False)
'''
email = 'doug@gmail.com'
'd' in email

True

In [ ]:
# Operador IN
'''
Testa de um caracter ou sequência de caracteres não está ou não presente em uma string
e retorna como resultado verdadeiro (True) ou Falso (False)
'''
email = 'doug@gmail.com'
'd'  not in email

False

In [ ]:
'''
capitalize é um método que quando aplicado deixa apenas a primeira letra de uma
string em caixa alta (maiúscula)
'''

nome = 'douglas'
print(nome)
nome = nome.capitalize()
print(nome)

douglas
Douglas

In [ ]:
'''
Imagine que você deseja deixar o primeiro caracter de cada palavra de uma
string composta em caixa alta
'''
nome_completo = 'douglas almeida ribeiro'
print(nome_completo)
nome_completo = nome_completo.capitalize()
print(nome_completo)
nome_completo = nome_completo.title()
print(nome_completo)

douglas almeida ribeiro
Douglas almeida ribeiro
Douglas Almeida Ribeiro

In [ ]:
'''
Imagine que você deseja colocar todas as letras em caixa alta
'''
nome = 'douglas'
print(nome)
nome = nome.upper()
print(nome)

douglas
DOUGLAS

In [ ]:
'''
Método para deixar todas as letras em ciaxa baixa
'''
nome = 'DOUGLAS'
print(nome)
nome = nome.lower()
print(nome)

DOUGLAS
douglas

In [ ]:
'''
Imagine que você deseja saber se uma string começa com um determinado caracter
ou sequência de caracteres
'''
nome = 'douglas'
nome.startswith('doug')

True

In [ ]:
'''
Imagine que você deseja saber se uma string termina com um determinado caracter
ou sequência de caracteres
'''
nome = 'douglas'
nome.endswith('las')

True

In [ ]:
'''
imagine que você deseja dividir uma string em várias
'''
n = '1 2 3 4 5'
len(n)
ns = n.split()
print(ns)

['1', '2', '3', '4', '5']

# 6 - Listas

In [ ]:
nomes = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']
pesos = [82,32,89,67,92,68]
alturas = [1.85,1.35,1.70,1.71,1.82,1.72]

In [ ]:
'''
Inserindo um valor sempre na última posição da lista
'''
nomes = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']
print(nomes)
pesos = [82,32,89,67,92,68]
print(pesos)
alturas = [1.85,1.35,1.70,1.71,1.82,1.72]
print(alturas)
nomes.append('Tobias')
print(nomes)
pesos.append(70)
print(pesos)
alturas.append(1.75)
print(alturas)

In [ ]:
'''
Inserindo um elemento em uma posição específica de uma lista
por exemplo:
inserir o elemento José na lista nomes no índice 3 e nas outras lista seus
valores correspondentes na mesma posição
'''
i = 3
nomes.insert(i,'José')
pesos.insert(i,75)
alturas.insert(i,1.80)
print(nomes)
print(pesos)
print(alturas)

In [ ]:
'''
Reovendo valores das listas método pop() (usa o índice como referência para a
exclusaão do valor)
'''
nomes = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']
pesos = [82,32,89,67,92,68]
alturas = [1.85,1.35,1.70,1.71,1.82,1.72]
nomes.pop(4)
print(nomes)
print(pesos)
print(alturas)

In [ ]:
'''
Removendo valores das listas método remove (usa o valor como referência
para a exclusão)
'''
nomes = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']
pesos = [82,32,89,67,92,68]
alturas = [1.85,1.35,1.70,1.71,1.82,1.72]
nomes.remove('Eduardo')
print(nomes)
print(pesos)
print(alturas)

In [ ]:
'''
Método para deixar uma lista vazia
'''
nomes.clear()
print(nomes)

[]

# 7 - Estruturas de repetição (FOR)

In [ ]:
nomes = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']
pesos = [82,32,89,67,92,68]
alturas = [1.85,1.35,1.70,1.71,1.82,1.72]
'''
imagine que você deseja percorrer as lista de pesos e alturas e com os
valores encontrados, calcular e popular uma lista vazia chamada imc
'''
imc = []
for i in range(len(nomes)):
  imc.append(round(pesos[i]/alturas[i]**2,2))
print(imc)

# 8 - Estruturas condicionais (IF, ELIF, ELSE)

In [ ]:
'''
Imagine que você deseja criar um programa que recebe do usuário uma nota numérica
de 0 a 10 e caso essa nota seja maior ou igual a 6, exiba a mensagem:
Aprovado, caso contrário exiba a mensagem Reprovado
'''
nota = float(input('Informe uma nota de 0 a 10: '))
if nota >= 6:
  print('Aprovado')
else:
  print('Reprovado')

In [ ]:
'''
Imagine que você deseja criar um programa que recebe do usuário uma nota numérica
de 0 a 10 e caso essa nota seja maior ou igual a 6, exiba a mensagem:
Aprovado, se a nota for menor que 6, mas maior ou igual a 4, exiba a mensagem:
Recuperação caso contrário exiba a mensagem Reprovado
'''
nota = float(input('Informe uma nota de 0 a 10: '))
if nota >= 6:
  print('Aprovado')
elif nota >= 4:
  print('Recuperação')
else:
  print('Reprovado')

# 9 - Loop While

In [ ]:
'''
Imagine que o usuário pode digitir n notas e o critério para a mensagem é
o mesmo do bloco anterior, porém usando a médias das notas digitadas
como parâmetro
'''
c = 0
n = int(input('Informe a quantidade de notas que serão inseridas: '))
notas = []
while c < n:
  notas.append(float(input(f'Informe a {c+1}ª nota: ')))
  c += 1
media = sum(notas)/len(notas)
print(f'A média das notas informadas é {media:.1f}')
if media >= 6:
  print('Aprovado')
elif media >= 4:
  print('Recuperação')
else:
  print('Reprovado')

# Biblioteca Pandas

## Criando uma tabela do zero

In [ ]:
import pandas as pd

In [ ]:
nome = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']
idade = [45,7,65,64,42,37]
altura = [1.85,1.23,1.75,1.67,1.82,1.73]
peso = [70,22,87,64,96,68]
sexo = ['M','F','M','F','M','F']
df = pd.DataFrame(zip(nome,idade,altura,peso,sexo),
                  columns=['nome','idade','altura','peso','sexo'])
display(df)

In [ ]:
# Lendo um arquivo da web
df2 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQrRM0XPunw8P3rgQIJMxvG-340996ibvk6BJju-fzcqZRhoxst1irfRRB6drFLogtDXKhWRfED_Inw/pub?gid=1773149940&single=true&output=csv')

In [ ]:
# Transformando um df em csv
df2.to_csv('exemplo.csv',index=False)